*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
table {
    width: 100%;
}
    td:first-child{
        text-align: initial !important;
    }

    td{
        text-align: center;
    }
    
    tr{
        border-bottom: 1px solid #E0E0E0;
    }

    .names{
        width: 200px !important ;
    }

    .days{
        width: 20px !important ;
    }

button{
   
}

mat-icon{
    color: rgb(90, 112, 195);
}