*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.content{
    position: absolute;
    top: 60px;
    left: 160px;
    right: 0;
    padding: 0px 20px;
    z-index: 0; 
    height: 917px;
    overflow-y: auto;
    overflow-x: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    max-width: 6px;
    max-height: 6px;
}
  
::-webkit-scrollbar-thumb {
  background: #616161;
  /* border-radius: 2px; */
}

/* DETAIL SETTING */
.box{
    position: relative;
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin: 20px 0px;
    border: solid 1px #ccc;
    overflow: hidden;
}
  
.boxheading {
      padding: 5px 10px 10px 10px;
      border-bottom: 1px solid rgba(207, 207, 207, 0.8);
      font-weight: 600;
}
  
.boxcontent{
      padding: 10px 20px;
      overflow-y: auto;
      height: 400px;
      overflow-x: none;
}

.boxfooting {
        padding: 5px 10px 10px 10px;
        border-top: 1px solid rgba(207, 207, 207, 0.8);
        font-weight: 600; 
}