<div class="content">
   <div class="row">
      <!-- Need check again with width-->
      <div class="col-xl-9">
          <div class="box">
              <div class="boxheading">Project control</div>
              <div class="boxcontent">
                  <table id="box1">
                      <thead>
                          <tr>
                              <th>Project</th>
                              <th>Progress</th>
                              <th>Team</th>
                              <th>Status</th>
                              <th>Deadline</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>iNext - One Page Responsive Template</td>
                              <td>
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-striped " style="width: 80%">80%</div>
                                  </div>
                              </td>
                              <td><img src="../asset/img/avatar3.jpg" alt="#" data-toggle="tooltip" data-placement="top"
                                      title="Employee1">
                                  <img src="../asset/img/avatar5.jpg" alt="#">
                                  <img src="../asset/img/avatar1.jpg" alt="#">
                              </td>
                              <td>
                                  <div class="label-finish">Finished</div>
                              </td>
                              <td>22 Aug, 2018</td>
                              <td>Action</td>
                          </tr>
                          <tr>
                              <td>InfiniO 4.1</td>
                              <td>
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-striped" style="width: 30%">30%</div>
                                  </div>
                              </td>
                              <td><img src="../asset/img/avatar3.jpg" alt="#">
                                  <img src="../asset/img/avatar5.jpg" alt="#">
                                  <img src="../asset/img/avatar1.jpg" alt="#">
                              </td>
                              <td>
                                  <div class="label-default">Working</div>
                              </td>
                              <td>8 Aug, 2018</td>
                              <td>Action</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td>InfiniO 4.1</td>
                              <td>
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-striped " style="width: 40%">40%</div>
                                  </div>
                              </td>
                              <td><img src="../asset/img/avatar3.jpg" alt="#">
                                  <img src="../asset/img/avatar5.jpg" alt="#">
                                  <img src="../asset/img/avatar1.jpg" alt="#">
                              </td>
                              <td>
                                  <div class="label-default">Working</div>
                              </td>
                              <td>8 Aug, 2018</td>
                              <td>Action</td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
              <div>Need fix: <br> 
                -Deadline <br> 
                -Responsive project click <br> 
            </div>
          </div>

      </div>

    <div class="col-xl-3">
        <div class="box">        Col -xl -3</div>

    </div>

  </div> 



  
  <div class="row">
      <div class="col-xl-12">            
          <div class="box">
                Year calendar <br>
                Need fix:<br>
                - Add bootstrap calendar <br>
                - Add API Google calendar
              <div id="calendar"></div>
          </div>
      </div>
  </div>

<div class="row">
    <div class="col-xl-6">
        <div class="box">
            <app-todolist></app-todolist>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="box">
            <app-attendance></app-attendance>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
            <app-employee></app-employee>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
asdasdasd
    </div>
</div>

</div>
