
    <div class="row">

        <div class="col-xl-9">
          <app-projectcontrol></app-projectcontrol>
        </div>

        <div class="col-xl-3">
            <div class="box">        
                <!-- <app-todolist></app-todolist> -->
            </div>
        </div>

    </div> 

    <div class="row">
        <div class="col-xl-12">
            <app-employee></app-employee>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="box">
                <app-attendance></app-attendance>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="box">
                Year calendar <br>
                Need fix:<br>
                - Add bootstrap calendar <br>
                - Add API Google calendar
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    <h5>Check width responsive</h5>