<!-- <div class="box">
    <div class="boxheading">Project control</div>
    <div class="boxcontent">
        <table id="box1">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Progress</th>
                    <th>Team</th>
                    <th>Status</th>
                    <th>Deadline</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>iNext - One Page Responsive Template</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped " style="width: 80%">80%</div>
                        </div>
                    </td>
                    <td><img src="assets/img/avatar3.jpg" alt="#" matTooltip="Employee1">
                        <img src="assets/img/avatar5.jpg" alt="#" matTooltip="Employee2">
                        <img src="assets/img/avatar1.jpg" alt="#" matTooltip="Employee3">
                    </td>
                    <td>
                        <div class="label-finish">Finished</div>
                    </td>
                    <td>22 Aug, 2018</td>
                    <td>Action</td>
                </tr>
                <tr>
                    <td>InfiniO 4.1</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" style="width: 30%">30%</div>
                        </div>
                    </td>
                    <td><img src="assets/img/avatar3.jpg" alt="#">
                        <img src="assets/img/avatar5.jpg" alt="#">
                        <img src="assets/img/avatar1.jpg" alt="#">
                    </td>
                    <td>
                        <div class="label-default">Working</div>
                    </td>
                    <td>8 Aug, 2018</td>
                    <td>Action</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>InfiniO 4.1</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped " style="width: 40%">40%</div>
                        </div>
                    </td>
                    <td><img src="assets/img/avatar3.jpg" alt="#">
                        <img src="assets/img/avatar5.jpg" alt="#">
                        <img src="assets/img/avatar1.jpg" alt="#">
                    </td>
                    <td>
                        <div class="label-default">Working</div>
                    </td>
                    <td>8 Aug, 2018</td>
                    <td>Action</td>
                </tr>
            </tfoot>
        </table>
    </div>

</div> -->

<div class="box">
    <table>
    <thead>
        <th> No. </th>
        <th> Name </th>
        <th> Progress </th>
        <th> Team </th>
        <th> Deadline </th>
        <th> Status </th>
    </thead>
    <tbody> 
        <tr *ngFor="let data of datasource">
            <th>{{data.seqno}}</th>
            <th>{{data.nameproject}}</th>
            <th>{{data.progress}}</th>
            <th>{{data.team}}</th>
            <th>{{data.deadline}}</th>
            <th>{{data.status}}</th>
        </tr>
        
    </tbody>
</table>
</div>