table {
    width: 100%;
  }

  th, .heading{
    background: rgb(63, 68, 73);
    color: white;
  }

  .mat-sort-header-arrow{
    color: white;
    opacity: 1;
  }

  th.mat-sort-header-sorted {
    color: white;
  }

  tr:hover{
    background: #f5f5f5;
  }
  
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    border-right: solid 1px rgb(189, 189, 190);
    padding: 0px 10px;
  }
  
  /* tr:nth-child(even){
    background: #f5f5f5;
  } */

.mat-elevation-z8{
  margin: 20px 0px;
}

.heading{
  padding: 10px;
  font-size: 20px;
}

mat-form-field{
  margin: 0px 5px;
}

button{
  margin: 0px 5px;
}