*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.topnav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 3;
    display: flex;
    border-bottom: 1px solid rgba(90, 112, 195, 0.5);
}

/* TOPNAV SETTING */

.topnav input {
    outline: none;
    padding: 6px;
    margin: auto 10px;
    height: 32px;
    width: 200px;
    font-size: 14px;
    border: 1px solid rgb(90, 112, 195);
    border-radius: 5px;
    color: rgb(90, 112, 195);
}

/* .topnav input:focus{
    box-shadow: 0px 0px 4px rgb(90, 112, 195);
} */

.topnav button, .topnav button:focus {
    outline: none;
    height: 24px;
    width: 24px;
    margin: 15px 0px 15px 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(90, 112, 195);
}

.topnav button:hover {
    background: rgb(90, 112, 195);
    color: white;
}

.brand-block{
    width: 200px;
    height: 60px;
}
    #brand{
        margin: 0;
        height: 100%;
        width: 80px;
    }

    #brandname{
        height: 60px;
        width: 100px;
        margin: 0px;
        padding: 15px 15px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        vertical-align: center;
        color: #FFFFFF;
        background: rgb(90, 112, 195);
        text-decoration: none;
    }

#searchicon{
    height: 34px;
    width: 34px;
    padding: 0px;
}