*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
 margin: 0px;
 padding: 0px;
 width: 5px !important;
}

#task-input{
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  width: 100%;
  margin: 5px 0 15px 0;
  padding: 0px 10px;
  height: 40px;
  word-wrap: break-word;
}

#task-input:focus{
  outline: none;
  box-shadow: 0px 0px 3px rgb(58, 88, 196);
}

.task-list {
  box-sizing: border-box;
  margin: 10px 0px;
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 40px;
  max-height: 500px;
  display: block;
  background: #ffffff;
  overflow-y: auto;
  overflow-x: none;
}
  div > mat-icon {
    cursor: pointer;
  }

  .task-item {
    padding: 10px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
  }
  .task-item > .col-sm-10 {
    cursor: move;
  }
  .task-item:hover{

  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    font-family: 'Roboto';
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .task-item:last-child {
    border: none;
  }
  
  .task-list.cdk-drop-list-dragging .task-list:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

::-webkit-scrollbar {
  max-width: 6px;
  max-height: 6px;
}

::-webkit-scrollbar-thumb {
background: #616161;
}

.tick{
  text-decoration: line-through;
}

.trash{
  
}